/* The news feed container. Use visibility:hidden
instead of display:none to prevent constant reloading of newsfeed. */
#pagelet_home_stream {
    visibility: hidden;
}

/* group links */
#groupsNav .sortableItem {
    display: none;
}
/* ticker, and sponsored */
#pagelet_ticker, #pagelet_ego_pane {
    display: none;
}

